body {
  margin: 0;
  padding: 0;
  font-family: Gill Sans, Verdana;
}
.container {
  background-color: #f2cf1d;
  width: 300px;
}
.card {
  padding: 20px;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text-container {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
  color: #18298c;
  margin-bottom: 12px;
}

.card-button-container {
  margin-top: 12px;
  margin-bottom: 12px;
}
a {
  display: block;
  background-color: #18298c;
  box-shadow: 0 5px 0 #04bf8a;
  color: white;
  padding: 8px 22px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  opacity: 0.9;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}
